@{
    Layout = null;
}
@model List<IObjInDir>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    <link rel="stylesheet" href="~/css/Style.css"/>
</head>
<body>
    <header>
        <h1>Файловое хранилище имени меня</h1>
    </header>

    <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
        <input type="hidden" value="@Context.Request.Query["relativeFolderPath"].ToString()" name="relativeFolderPath" />
        <input type="file" accept=".doc, .xls" name="files" multiple>
        <input type="submit" value="Загрузить">
    </form>
    <form method="post" enctype="multipart/form-data" asp-controller="CreateFolder" asp-action="Index">
        @if (@Context.Request.Query["relativeFolderPath"].ToString() != "")
        {
            <input type="hidden" value="@Context.Request.Query["relativeFolderPath"].ToString()" name="relativeFolderPath" />
        }
        <input type="text" name="folderName">
        <input type="submit" value="Создать папку">
    </form>

    <h3>Все элементы</h3>
    <h2>Количество элементов в папке: @Model.Count</h2>
    @foreach (var elem in Model)
    {
        <div class="item">
            <div class="blackDescription">
                <p>
                    @elem.Description;
                </p>
            

            <form method="post" enctype="multipart/form-data" asp-controller="DeleteFile" asp-action="Index">
                <input type="hidden" value="@(elem.Name + "." + elem.Extention)" name="fileNameExtention" />
                @if (elem.RelativeFolderPath != "")
                {
                    <input type="hidden" value="@Context.Request.Query["relativeFolderPath"].ToString()" name="relativeFolderPath" />
                }
                <div class="X">
                    <input type="submit" value="X" />
                </div>
            </form>
            @if (elem is DocFile)
            {
                <img src="~/images/@(elem.Extention + ".png")" />
                <p>@String.Format("{0}.{1}", elem.Name, elem.Extention)</p>
                <p><a href="@string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, "/default/GetFile?fileNameExtention=" + elem.Name + "." + elem.Extention + (elem.RelativeFolderPath != "" ? "&relativeFolderPath=" + elem.RelativeFolderPath : ""))">Загрузить</a></p>
            }
            else if (elem is Folder)
            {
                <a href="@string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, "/default/ViewFolder?relativeFolderPath=" + elem.RelativeFolderPath + elem.Name + "\\")"> <img src="~/images/folder.png" /> </a>
                <p>@elem.Name</p>
            }
        </div>
      </div>
    }
</body>
</html>
